{% extends "base.html" %}

{% block header%}
<title>账号密码设置</title>
{% endblock %}

{% block content %}
<form action="/user/password?user_id={{user_id}}" method="post">

<table class="list" style="width:100%;margin:0">
<tr>
<th>账号密码设置:</th>
</tr>

<tr>
<td><label>新密码:<input type="text" name="password" value="123456" /></label></td>
</tr>

<tr>
<td><input type="submit" value="保存" /> or <a href="javascript:parent.$('#dialog').dialog('close')">关闭</a> <span class="red">{{msg}}</span></td>
</tr>
</table>
</form>
{% endblock %}