{% extends "base.html" %}

{% block header%}
<title>查询编辑</title>
<script type="text/javascript" src="/static/js/editor.js"></script>
{% endblock %}

{% block content %}
<div id="bar">
<a href="/query/list">查询列表</a> -> 查询编辑
<span class="buttons">
 <a href="/query/list">返回</a>
 </span>
</div>
<script type="text/javascript">
function selectField()
{
	var selected_value = $("input[name='select']").val();
	$("#selectArea").toggle();
	$("#selectArea input[type='checkbox']").each(function(){
		if(selected_value.indexOf($(this).val())!=-1)
		{
			$(this).attr('checked',true);
		}
	})
	
	$("#selectArea input[type='checkbox']").change(function(){
		var select_value = $(this).val();
		
		selected_value = selected_value.replace(select_value+',','').replace(','+select_value,'').replace(select_value,'');
		if($(this).attr('checked'))
		{
			if(selected_value!='')
				selected_value += ',';
			selected_value += select_value;
		}
		$("input[name='select']").val(selected_value);
	});
}
function changeType()
{
	var the_url = document.location.href;
	var the_type = $("select[name='log_type']").val();
	the_url = the_url.substring(0,the_url.lastIndexOf('/')) + "/" + the_type;
	document.location = the_url;
}
</script>

<form action="/query/save?query_id={{model.id}}" method="post">
<table class="form">
<tr>
<th>查询日志：</th><td>
<select name="log_type" >
{%for item in logs%}
<option value="{{item.id}}" {%ifequal item.id model.log_type%}selected="selected"{%endifequal%}>{{item.name}}</option>
{%endfor%}
</select>
</td>
</tr>

<tr>
<th>查询说明：</th><td><input type="text" name="name" value="{{model.name}}" size="50" /></td>
</tr>


<tr>
<th>查询字段：</th><td><input type="text" name="select" size="50" value="{{model.select}}" /> <a href="javascript:selectField()">选择</a><div id="selectArea" class="hide">
可选:
{%for item_field in list_field%}
<label><input type="checkbox" value="{{item_field.name}}" />{{item_field.name}}</label>
{%endfor%}
</div></td>
</tr>

<tr>
<th>查询条件：</th><td><input type="text" name="where" size="50" value="{{model.where}}" /> 例如:字段名=值 支持 and or</td>
</tr>
<tr>
<th>数据分组：</th><td><input type="text" name="group" value="{{model.group}}" /></td>
</tr>
<tr>
<th>排序字段：</th><td><input type="text" name="order" value="{{model.order}}" /> <select name="order_type">
<option value="0"{%ifequal model.order_type 0%}selected="selected"{%endifequal%}>升序</option>
<option value="1"{%ifequal model.order_type 1%}selected="selected"{%endifequal%}>降序</option>
</select></td>
</tr>


<tr>
<th>SQL语句：</th><td>
<textarea name="sql" rows="9" cols="700">{{model.sql}}</textarea>
</td>
</tr>
<tr>
	<th>缓存时间(秒,0默认20分钟)：</th>
	<td>
		<input name="cache_valid" value="{{model.cache_validate}}" />
	</td>
</tr>
<tr>
<th>&nbsp;</th>
<td><input type="submit" value="保存" /></td>
</tr>
</table>

</form>
{% endblock %}