{% extends "base.html" %}

{% block header%}
<title>表信息</title>
<script type="text/javascript">
	function show_sync_index_dialog(server_id){
		var url = "/log/syncdb/syindex?server_id=" + server_id;
		
		$("#sync_index_dialog").dialog({type:'url',value: url,center:true});
		return false;
	}
</script>
{% endblock %}

{% block content %}

<div class="sub-menu-1">
	<form action="/log/tableinfo" method="get" >
		<select name="server_id" >
			<option value="0">中央服</option>
			{% for item in server_list %}
			<option value="{{item.id}}" {% if item.id == server_id %} selected="selected" {% endif %} >{{item.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" class="button" value="切换服务器" /> 
	</form>
	<form action="/log/tableinfo" method="get" >
		<input type="hidden" name="server_id" value="{{server_id}}" /> 
		<select name="log_id" >
			{% for item in log_list %}
			<option value="{{item.id}}" {% if item.id == log_id %} selected="selected" {% endif %} >{{item.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" class="button" value="切换" /> 
		<span class='buttons'>
			<a href="/log/syncdb/dosyindex/{{server_id}}/{{log_id}}" onclick="return show_sync_index_dialog({{server_id}});" >同步索引</a> 
		</span>
	</form>
</div>

<table class="list">
<tr>
<th width="40">字段</th>
<th width="200">索引名</th>
<th width="80">唯一</th>
<th width="80">排序方式</th>
<th width="80">操作</th>
</tr>
{%for item in list_data%}
<tr>
	<td> 
		{{item.4}}
	</td>
	<td>
		{{item.2}}
	</td>
	<td>
		{% if item.1 == 1 %} 否 {% else %} 是 {% endif %}
	</td>
	<td>
		{{item.5}}
	</td>
	<td>
		<a href="/log/tableinfo/index/del?server_id={{server_id}}&log_id={{log_id}}&log_key={{log_def.key}}&index_name={{item.2}}" class="del" >删除</a> 
	</td>
</tr>
{%endfor%}
</table>
{% endblock %}