{% extends "base.html" %}

{% block header%}
<title>任务配置列表</title>
{% endblock %}

{% block content %}
<div id="bar">
	任务配置列表
	<span class="buttons" ><a href="/task/create" class="ask">生成配置文件</a> <a href="/task/edit" >添加</a> </span>
</div>

<div class="sub-menu-1" >
	<form action="" action='GET' >
		类别:
		<select name="type" >
			 {% for item in type_list %}
			 <option value="{{item.type}}" {%if type == item.type %} selected="selected" {% endif %} >
			 	{{item.type}}
			 </option>
			 {% endfor %}
		</select>
		<input type="submit" value="查询" />
	</form>
</div>
<table class="list">
	<tr>
		<th>ID</th>
		<th width="120">标题</th>
		<th>url</th>
		<th>执行次数</th>
		<th>开始时间</th>
		<th>结束时间</th>
		<th width="80" >操作</th>
	</tr>
	{% for item in list_data %}
	<tr>
		<td>
			{{item.id}}
		</td>
		<td>
			<a href="/task/edit?id={{item.id}}" >{{item.title}}</a>
		</td>
		<td>
			{{item.request_url}}
		</td>
		<td>
			{{item.trigger_date|date:"Y-m-d H:i:s"}}
		</td>
		<td>
			{{item.end_date|date:"Y-m-d H:i:s"}}
		</td>
		<td>
			{{item.remark}}
		</td>
		<td>
			<a href="/task/edit?id={{item.id}}" >配置</a>
			<a class="ask" href="/task/del?id={{item.id}}">删除</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% include "pager.html" %}
{% endblock %}
