{% extends "base.html" %}

{% block header%}
<title>群英会TOP300</title>
{% endblock %}
{% block content %}
<div class="sub-menu-1" >
	<form >
		<input type="hidden" value='1' name='s' />
		<select class='dbl_server_list' name="server_id" onchange="javascript:changeServer(this)">
		{%for item in server_list%}
		<option value="{{item.id}}"{%ifequal item.id server_id%} selected="selected"{%endifequal%}  >{{item.name}}</option>
		{%endfor%}
		</select>
		<input type="text" class="s_server" style="width:50px;" onkeyup="javascript:search_dbl_list('dbl_server_list','s_server');" />
		
		<input type="submit" />
	</form>
</div> 
 
<div class="sub-menu-1" >
{%for item in data_list%}
	<div style="120px; float:left;">
		<b>{{item.date}}</b>届
		<ul style=' list-style:decimal;'>
			{%for item in item.player_list%}
			<li>{{item}}</li>
			{%endfor%}
		</ul>
	</div>
{%endfor%}
</div>

{% endblock %}
