{% extends "base.html" %}

{% block header%}
<title>充值统计</title>
{% endblock %}

{% block content %}
<div id="bar">
<a href="#">充值统计</a> -> 用户充值统计
</div>

<div class="sub-menu-1">
<form method="post">
<table>
	<tr>
		<th style="width:90px;text-align:right;"><label><input id="select_server" type="checkbox" onchange="selectAll(this.id)"  checked="checked"/>服务器全选</label></th>
		<td>
			<div id="select_server_area">
				{%for serverItem in list_server%}
				<label><input type="checkbox" name="s" value="{{serverItem.id}}" {%ifequal serverItem.is_show 1%}checked='checked'{%endifequal%} />{{serverItem.name}}</label>
				{%endfor%}
			</div>
		</td>
	</tr>
	<tr>
		<th width="90"><label><input type="checkbox" id="select_channel" onchange="selectAll(this.id)" />渠道全选</label></th>
		<td>
			<a href="#" id="div_expendAll" style="float:right" onclick="expendAll()">展开全部>>></a>
			<div id="select_channel_area" style="height:1.5em;overflow:hidden;">
				{%for channelItem in list_channel%}
					<label><input type="checkbox" name="c" value="{{channelItem.id}}" {%ifequal channelItem.is_show 1 %}checked="checked"{%endifequal%} />{{channelItem.name}}</label>
				{%endfor%}
			</div>
		</td>
	</tr>
	<tr>
		<th style="width:90px;text-align:right;"></th>
		<td>
			用户ID:<input type="text" id="user_id" name="user_id" value="{{user_id}}" />
			用户名:<input type="text" id="user_name" name="user_name" value="{{user_name}}" />
		</td>
	</tr>
	<tr>
		<th></th>
		<td>
			开始日期:<input type="text" id="sdate" name="sdate" class="Wdate" value="{{sdate}}" />
			结束日期:<input type="text" id="edate" name="edate" class="Wdate" value="{{edate}}" />
			
			<a href="javascript:setSelectDate(1);">前天</a>
			<a href="javascript:setSelectDate(2);">昨天</a>
			<a href="javascript:setSelectDate(3);">今天</a>
			<a href="javascript:setSelectDate(4);">近三天</a>
			
			<input type="submit" value="查询" />
		</td>
	</tr>
	
</table>
</form>
</div>

<table class="list">
<tr>
<th width="150">用户ID</th>
<th width="150">用户名</th>
<th width="150">充值总金额</th>
</tr>
{%for item in list_record%}
<tr>
<td>{{item.0}}</td>
<td>{{item.1}}</td>
<td>{{item.2}}</td>
</tr>
{%endfor%}
</table>
<script type="text/javascript">
function setSelectDate(type)
{
	if(type==1)
	{
		$('#sdate').attr('value',GetDateStr(-2));
		$('#edate').attr('value',GetDateStr(-1));
	}
	else if(type==2)
	{
		$('#sdate').attr('value',GetDateStr(-1));
		$('#edate').attr('value',GetDateStr(0));
	}
	else if(type==3)
	{
		$('#sdate').attr('value',GetDateStr(0));
		$('#edate').attr('value',GetDateStr(1));
	}
	else if(type==4)
	{
		$('#sdate').attr('value',GetDateStr(-2));
		$('#edate').attr('value',GetDateStr(1));
	}
}
function GetDateStr(AddDayCount) {
    var dd = new Date();
    dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
    var y = dd.getFullYear();
    var m = dd.getMonth()+1;//获取当前月份的日期
    var d = dd.getDate();
    return y+"-"+m+"-"+d +" 00:00:00";
}

function expendAll()
	{
//		if($("#div_channelId_logins").css("display")=="none")
//		{
//			$("#div_expendAll").html("折叠全部>>>");
//			$("#div_channelId_logins").show();	
//		}
//		else
//		{
//			$("#div_expendAll").html("展开全部>>>");
//			$("#div_channelId_logins").hide();	
//		}

		if($("#select_channel_area").css('overflow')=='hidden')
		{
			$("#div_expendAll").html("折叠全部<<<");
			$("#select_channel_area").css({'overflow':'visible','height':'auto'});	
		}
		else
		{
			$("#div_expendAll").html("展开全部>>>");
			$("#select_channel_area").css({'overflow':'hidden','height':'1.5em'});
		}
}
</script>
{% include "page_post.html" %}
{% endblock %}