{% extends "base.html" %}

{% block header%}
<title>运营基础数据</title>
{% endblock %}

{% block content %}
<div id="bar">
	运营基础数据
	<span class="buttons" > <a href="/charts/edit" >添加</a> </span>
</div>

<div class="sub-menu-1" >
	<form action="" action='GET' >
		服务器:
		<select name="server_id" >
			{% for item in server_list %}
			<option value="{{item.id}}" {%if server_id == item.id %} selected="selected" {% endif %} > {{item.name}} </option>
			{% endfor %}
		</select>
		<input type="submit" value="切换" />
	</form>
</div>

<div class="charts_container">
	
{%for situation in situation_list %}
<iframe width="100%" height="{{situation.chart_height}}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="{{situation.src}}" ></iframe>

{%endfor%}

{%for summary in summary_list %}
<iframe width="48%" height="{{summary.chart_height}}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="{{summary.src}}"  ></iframe>
 
{%endfor%}

{%for chart in charts%}

<iframe width="100%"  height="{{chart.chart_height}}" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" src="{{chart.src}}"   ></iframe>

{%endfor%}

</div>

{% endblock %}
