<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<style type="text/css">
html,body{background:#996633;overflow:hidden;border:none;line-height:1.5em;
color:#333;
}
a{color:#fff;text-decoration:none}
</style>

<script type="text/javascript">
function showHide()
{
	if($('#list').css('display')=='block')
		$('#list').hide('slow');
	else
		$('#list').show('slow');
}

</script>

</head>
<body>
<p>游戏可能正在维护,请稍候再试</p>
<a href="app:close()" onclick="javascript:window.close()">关闭</a>
</body>
</html>