{% extends "base.html" %}

{% block header%}
<title>推送公告管理</title>
{% endblock %}

{% block content %}
<div id="bar">
推送公告管理
<span class="buttons">
 <a href="/notice/list">管理所有消息</a>
 <a href="/push/create" class="ask">生成推送消息</a>
 <a href="/push/edit">添加</a>
 </span>
</div>

<table class="list">
<tr>
<th width="40">编号</th>
<th width="90">类型</th>
<th width="40">状态</th>
<th>公告内容</th>
<th width="120">分区</th>
<th width="80">开始时间</th>
<th width="80">结束时间</th>
<th width="100">操作</th>
</tr>
{%for item in list_record%}

<tr>
<td>{{item.id}}</td>
<td>{{item.get_notice_type_display}}</td>
<td>{{item.get_status_display}}</td>
<td>{{item.content}}</td>
<td>
{%for item_group in item.group.all%}
<a title="{{item_group.name}}" href="/static/notice/push/{{item_group.key}}.json">{{item_group.id}}</a>
{%endfor%}
</td>
<td>{{item.begin_time_str}}</td>
<td>{{item.end_time_str}}</td>
<td>
	<a href="/notice/remove/{{item.id}}" class="del">删除</a> 
	<a href="/notice/edit/{{item.id}}">编辑</a> 
	<a href="javascript:sendRequest({{item.id}})">生成</a> 
</td>
</tr>

{%endfor%}
</table>
<script type="text/javascript">
	function sendRequest(noticeId)
	{
		var url="/notice/create/"+noticeId;
		$.post(url,{},function(data)
		{
			alert(data);
		});
	}

</script>
{% endblock %}