<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="google-translate-customization" content="4c7f6cb0fee7f952-8842eaefdbe93112-g4297ba3489700b67-15"></meta>
<script type="text/javascript" src="/static/js/jquery1.8.3.min.js"></script>
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
<script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript" src="/static/js/stran.js"></script>

<link rel="stylesheet" href="/static/skin/style.css"type="text/css" />

<script type="text/javascript" src="/static/js/dialog.js" ></script>
<link rel="stylesheet" href="/static/skin/dialog.css" />
 
<script type="text/javascript" src="/static/js/main.js"></script>
