{% extends "base.html" %}

{% block header%}
<title>渠道账号密码修改</title>
<script type="text/javascript" src="/static/js/editor.js"></script>
{% endblock %}

{% block content %}
<div id="bar">
密码修改
<span class="buttons">

 </span>
</div>

<form action="/channel/change_password/do" method="post">
<table class="form">

<tr>
<th>旧密码：</th><td><input type="text" name="old_password" /></td>
</tr>
<tr>
<th>新密码：</th><td><input type="text" name="new_password" /></td>
</tr>
<tr>
<th></th>
<td><input type="submit" value="确认修改" /></td>
</tr>
</table>
</form>
{% endblock %}