{% extends "channel/channel_base.html" %}

{% block header%}
<title>{{channel.name}} 玩家列表</title>
{% endblock %}

{% block content %}
<div id="bar">
{{channel.name}} 玩家列表
<span class="buttons">

 </span>
</div>

<div class="sub-menu-1">
<form action="/channel/user/list" method="get">
查询:
<select name="key_type">
<option value='0'>账号ID</option>
<option value='1'>登录名或第三方ID</option>
</select>
<input type="text" name="key" value="{{user_key}}" />
<input type="submit" value="查询" />
</form>
</div>


<table class="list">
<tr>
<th>账号ID</th>
<th>关联账号</th>
<th>登录次数</th>
<th>上次登录IP</th>
<th>上次登录时间</th>
<th>创建时间</th>
<th width="120">管理</th>
</tr>
{%for item in list_record%}
<tr>
<td>{{item.id}}</td>
<td>{{item.username}}</td>
<td>{{item.login_num}}</td>
<td>{{item.last_ip}}</td>
<td>{{item.last_time_str}}</td>
<td>{{item.create_time_str}}</td>
<td>
{%if item.is_lock %}
<a href="/channel/user/lock/{{item.id}}/0">解封</a> 
{%else%}
<a href="/channel/user/lock/{{item.id}}/1">封号</a>
{%endif%}
{%ifequal item.user_type 0 %}
<a href="/channel/user/password/{{item.id}}" class="dialog">改密码</a>
{%endifequal%}
<a href="/channel/player/block/{{item.id}}" class="dialog">封角色</a>
</td>
</tr>
{%endfor%}
</table>

{% include "pager.html" %}
{% endblock %}